@charset "UTF-8";

@keyframes animacao{
    0%{width:0px;}
    50%{width:90px;}
    100%{width: 165px;}
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Arial, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    background-color: #FF6354;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
form.card_cadastro{
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 450px;
    padding: 30px;
    border-radius: 10px;
    background-color: #FFF;
}
.card_cadastro > h2{
    margin-bottom: 5px;
}
.card_cadastro div.barra{
    width: 90px; 
    height: 2px;
    background-color: red;
    margin-bottom: 10px;
    animation: animacao 2s infinite;
}
.card_cadastro > label{
    margin: 10px 0;
}
.card_cadastro > input{
    border-radius: 10px;
    border: none;
    border: 2px solid red;
    padding: 10px;
}
.card_cadastro > button{
    margin: 30px 0 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #FF6354;
    color: #FFF;
    cursor: pointer;
    text-transform: uppercase;
}
button.bcadastrar:hover{
    background-color: #a34339;
}